@page "/delete"
@using Entities.Models
@using HamsterWars2Blazor.Service
<h3>Delete Hamster by Id</h3>

<div class="form-group">
    <label>Id Number</label>
    <select @bind="_number" class="form-select-sm">
@if (Hamsters is not null)
{
 @foreach (var hamster in Hamsters)
{
    <option value="@hamster.Id">@hamster.Id</option>
}   
}

    </select>
    <button class="btn btn-primary" @onclick="SubmitDelete">Delete</button>
</div>
@code {
    public List<Hamster> Hamsters { get; set; }
    private int _number;
    [Inject]
    public IHamsterHttpService HttpService{ get; set; }
    protected override async Task OnInitializedAsync()
    {
        Hamsters = await HttpService.GetAllHamsters();
    }
    public void SubmitDelete()
    {
        HttpService.DeleteHamster(_number);
        StateHasChanged(); //TODO: funkar ej

    }
}
