@using Entities.Models
@using HamsterWars2Blazor.Service

    
@if (matches.Count <= 0)
{
    <br />
    <p>This hamster has not yet been to a single <a href="/battle"><strong>BATTLE</strong></a></p>
}
else
{
    
<ShowMatchesComponent Matches="matches"></ShowMatchesComponent>
}


@code {
    [Parameter]
    public Hamster Hamster { get; set; }
    private List<Hamster> hamsters { get; set; }
    private List<Match> matches;

    [Inject]
    public IMatchHttpService matchService { get; set; }
    [Inject]
    public IHamsterHttpService hamsterService { get; set; }

    protected override async void OnInitialized() //TODO: Kolla om det går utan state has changed nu när det är async istället
    {
        matches = await matchService.GetAllMatchesByHamsterId(Hamster.Id);
        hamsters = await hamsterService.GetAllHamsters();
        StateHasChanged();
    }
   
}
