@page "/random"
@using Entities.Models
@using HamsterWars2Blazor.Service

<div class="text-center row-cols-1">
    <div class="col-sm">

<h1>Generate Random Hamster</h1>
@if (hamster is null)
{
    <p>No Hamster Generated</p>
}
else
{
    <HamsterComponent Hamster="@hamster"></HamsterComponent>
}
    </div>
<div class="col-sm ">
<button class="btn btn-primary col-sm-2" @onclick="GenerateRandomHamster">Random</button>
</div>
</div>

@code {
    public Hamster hamster { get; set; }
    [Inject]
    public IHamsterHttpService HttpService{ get; set; }

    public async Task GenerateRandomHamster()
    {
        hamster = await HttpService.GetRandomHamster();
        StateHasChanged();
    }
}