@page "/gallery"

@using Entities.Models
@using HamsterWars2Blazor.Service

<div class="text-center">

<h1>All Hamsters</h1>
</div>
@if (Hamsters is null)
{
    <p>Loading...</p>
}
else
{
    //TODO:Sökfunktion
    
@foreach (var hamster in Hamsters)
    {
   @if (@hamster.isActive)
        {
            <a class="col col-sm-2 btn" href="/profile/@hamster.Id">
                <div class="card card-goodies card-hover" style="background-color:teal">
                    <div class="card-title">
                        @hamster.Name
                    </div>
                    <div class="card-img">
                        <img class="hamster-bild-small" src="@hamster.ImgName">
                    </div>
                </div>
            </a>
        }
    }
}
   
@code {

     public List<Hamster> Hamsters { get; set; }
     private readonly string url = "gallery";

    [Inject]
    public IHamsterHttpService HamsterHttpService{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        Hamsters = await HamsterHttpService.GetAllHamsters();
    }
}
