@page "/gallery"

@using Entities.Models
@using HamsterWars2Blazor.Service
<h3>AllHamstersComponents</h3>
@*<table class="table">
    <thead>
    <tr>
    <th>Id</th>
    <th>Name</th>
    </tr>
    </thead>
    <tbody>*@
    @foreach (var hamster in Hamsters)
    {
    <HamsterComponent Hamster="@hamster"></HamsterComponent>
    
    }
    @*</tbody>
    </table>*@
@code {

     public List<Hamster> Hamsters { get; set; } = new List<Hamster>();


    [Inject]
    public IHamsterHttpService HamsterHttpService{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        Hamsters = await HamsterHttpService.GetAllHamsters();
    }
}
