@page "/match/{Id:int}"

@inject IJSRuntime JSRuntime

@if (match is null)
{
    <p>Loading...</p>
    <div class="spinner-border"></div>
}
else
{
    <div class="row text-center d-flex justify-content-center">

        <div class="row col-sm-3">
            <h3>Winner</h3>
            <HamsterComponent hamster="@winHamster" SetSizeBool=true></HamsterComponent>
        </div>
        <div class="row mt-2">
            <p>
                <hr>
                This Battle was held @days day(s) and @hours hour(s) ago.
                <hr>
            </p>
        </div>
        <div class="row col-sm-3">
            <h3>Loser</h3>
            <HamsterComponent hamster="@lossHamster" SetSizeBool=true></HamsterComponent>
        </div>
        <div class=" row-cols-sm-6 mt-4 ">
            <button @onclick="OpenDeleteDialog" class="btn btn-danger">Delete</button>
        </div>
    </div>
}
@*---Modal----*@
@if (DeleteDialogOpen)
{
    <ModalComponent match="@match"
                OnClose="@OnDeleteDialogClose">
    </ModalComponent>
}


