@page "/top5"
@using Entities.Models
@using HamsterWars2Blazor.Service

<h1>Top5</h1>
@if (render)
{
    
<div>
    <h4>Top 5 Winners</h4>
    @foreach (var hamster in WinHamsters)
   {
       <HamsterComponent Hamster="hamster"></HamsterComponent>
   }
   </div>

   <div>
   <h4>Top 5 Losers</h4>
   @foreach (var hamster in LossHamsters)
  {
      <HamsterComponent Hamster="hamster"></HamsterComponent>
  }
</div>
}

@code {
    private bool render = false;
    public List<Hamster> WinHamsters{ get; set; }
    public List<Hamster> LossHamsters{ get; set; }
    
    [Inject]
    public IHamsterHttpService httpService{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        WinHamsters = await httpService.GetTop5Winners();
        LossHamsters = await httpService.GetTop5Losers();
        render = true;
    }
}
